
.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    &.dark {
      background-color: #0d084d;

      h1 {
        color: white !important;
      }

      i {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
        color: white !important;
      }

      .title {
        color: white !important;
        font-weight: 300 !important;
        font-size: 14px !important;
      }

      button {
        background-color: #1dbf73;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
      }
    }

    .container {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
        }

        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #666;
          .check-icon {
            width: 24px;
            height: 24px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          color: gray;
          line-height: 28px;
          letter-spacing: 1px;
        }

        img {
          width: 100%;
          height: auto;
        }

        video {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 992px) { // lg
    .features {
      .container {
        flex-direction: column;
        align-items: center;

        .item {
          flex: none;
          width: 100%;
          text-align: center;

          &:last-child {
            margin-top: 20px;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  @media (max-width: 768px) { // sm
    .features {
      .container {
        .item {
          h1 {
            font-size: 24px;
          }

          .title {
            font-size: 16px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  .geeders-info {
    background-color: #0d084d;
    color: white;
    padding: 50px 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .text-content {
        flex: 1 1 100%; // Full width on small screens
        max-width: 500px;

        h1 {
          color: #fffbee;
    text-align: center;
          font-size: 2rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 1rem;
          line-height: 1.6;
          margin-bottom: 20px;

          strong {
            color: #01f784f2;
            font-size: x-large;
          }

          svg {
            margin-right: 8px;
            color: #1dbf73;
          }
        }
      }

      .image-collage {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        img {
          width: 100%; // Full width on small screens
          max-width: 150px; // Adjust as needed
          object-fit: cover;
          border-radius: 10px;
          transform: rotate(5deg);
          transition: transform 0.5s;

          &:hover {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .explore {
    padding: 50px 0;

    .container {
      h1 {
        text-align: center;
        font-size: 1.5rem;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .item {
          width: 150px;
          height: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          img {
            width: 50px;
            height: 50px;
          }

          .line {
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all 0.3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover {
            .line {
              width: 80px;
              background-color: #1dbf73;
            }
          }
        }
      }
    }
  }
}
