@import '../../variables';

.home {
  .city-slider {
    width: 100%;
    margin-bottom: 40px;

    .slider-item {
      position: relative;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
      }

      .slider-overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        h2 {
          font-size: 2.5rem;
          margin: 0;
        }

        p {
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
  }

  .features {
    margin-top: 60px;
    background: linear-gradient(135deg, $primary-blue, $primary-blue-dark);
    padding: 60px 20px;
    color: $white;

    .container {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
          font-weight: 500;
          margin-bottom: 10px;
          color: $secondary-color;
        }

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: $white;

          .check-icon {
            width: 24px;
            height: 24px;
            color: $secondary-color;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          color: rgba($white, 0.8);
          line-height: 28px;
          letter-spacing: 1px;
        }
      }
    }
  }

  .BlaBlaTrip-info {
    margin-top: 60px;
    background: linear-gradient(135deg, $primary-blue, $primary-blue-dark);
    padding: 60px 20px;
    color: $white;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .text-content {
        flex: 1 1 100%;
        max-width: 500px;

        h1 {
          color: $secondary-color;
          text-align: center;
          font-size: 2rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 1rem;
          line-height: 1.6;
          margin-bottom: 20px;

          strong {
            color: $secondary-color;
            font-size: x-large;
          }

          svg {
            margin-right: 8px;
            color: $secondary-color;
          }
        }
      }

      .image-collage {
        flex: 1 1 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        img {
          width: 100%;
          max-width: 150px;
          object-fit: cover;
          border-radius: 10px;
          transform: rotate(5deg);
          transition: transform 0.5s;

          &:hover {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .explore {
    padding: 50px 0;

    .container {
      h1 {
        text-align: center;
        font-size: 1.5rem;
        color: $primary-blue;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .item {
          width: 150px;
          height: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          background-color: $white;
          border-radius: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
          }

          img {
            width: 50px;
            height: 50px;
          }

          .line {
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all 0.3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover {
            .line {
              width: 80px;
              background-color: $secondary-color;
            }
          }
        }
      }
    }
  }
}