/* Add.scss */
.add {
  .container {
    padding: 20px;
    background-color: white; /* Ensure the background is white */
  }

  h1 {
    color: #2c3e50; /* Dark gray for headings */
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: flex;
      align-items: center;
      color: #2c3e50; /* Black color for labels */
      margin-bottom: 5px;
      font-weight: bold; /* Add some emphasis */
      font-size: 1rem; /* Consistent font size */
    }

    .form-control {
      border: 1px solid #3498db; /* Blue border for input fields */
      border-radius: 5px;
      padding: 0.75rem;
      font-size: 1rem;
    }

    .form-control-range {
      margin-top: 5px;
    }

    .price-display {
      margin-top: 5px;
      color: #2ecc71; /* Green color for price display */
      font-weight: bold;
    }

    .btn {
      &.btn-primary {
        background-color: #3498db;
        border: none;
        color: white;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          background-color: #2980b9;
          transform: scale(1.05);
        }
      }
      &.btn-success {
        background-color: #2ecc71;
        border: none;
        color: white;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          background-color: #27ae60;
          transform: scale(1.05);
        }
      }
      &.btn-danger {
        background-color: #e74c3c;
        border: none;
        color: white;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
          background-color: #c0392b;
          transform: scale(1.05);
        }
      }
    }
  }

  .addFeatureForm {
    display: flex;
    align-items: center;

    input[type="text"] {
      flex: 1;
      border: 1px solid #3498db; /* Blue border for feature input */
      border-radius: 5px;
      padding: 0.75rem;
    }

    button {
      margin-left: 10px;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #2ecc71; /* Green button color */
        transform: scale(1.05);
      }
    }
  }

  .addedFeatures {
    .feature-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .btn {
        display: flex;
        align-items: center;

        .remove-icon {
          margin-left: 5px;
        }
      }
    }
  }

  .alert {
    margin-top: 20px;
  }
}

.slider-track {
  background: #ddd;
  height: 6px;
}

.slider-thumb {
  background: #007bff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

#root > div.app > div.add.container > div > div:nth-child(1) > button{
  background-color: #007bff;
}

.country-city-selector{
  border-radius: 6px;
  border-color: #3498db;
  height: 45px;
}