.footer {
  background: linear-gradient(45deg, #fefeff, transparent);
  color: #000;
  margin-top: 6%;

  h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .list-unstyled {
    list-style: none;
    padding: 0;

    a {
      color: #343a40;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .input-group {
    max-width: 400px;
    margin-top: 1rem;

    .form-control {
      border-radius: 0;
      border: 1px solid #ced4da;
    }

    .btn-primary {
      border-radius: 0;
      background-color: #007bff;
      border: 1px solid #007bff;

      &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
    }
  }

  .social {
    a {
      color: #343a40;
      font-size: 1.25rem;
      transition: color 0.3s;

      &:hover {
        color: #007bff;
      }
    }
  }
}
