.gigCard {
  width: 324px;
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 40px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .topSection {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .coverImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .userInfo {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      .userAvatar {
        width: 80px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #1dbf73;
      }

      .userDetails {
        display: flex;
        flex-direction: column;

        .username {
          font-weight: bold;
        }

        .verified {
          display: flex;
          align-items: center;
          gap: 5px;
          color: green;
          font-size: 14px;
        }
      }
    }

    .description {
      color: #111;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        height: 14px;
        width: 14px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: #ffc108;
      }
    }

    .availability,
    .languages {
      h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin-bottom: 5px;
      }

      .flags {
        display: flex;
        gap: 5px;

        .flagIcon {
          width: 24px;
          height: 16px;
        }
      }
    }
  }

  .detailsSection {
    padding: 10px 20px;
    flex: 1;

    hr {
      height: 0;
      border: 0.5px solid rgb(228, 228, 228);
    }

    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        span {
          color: #999;
          font-size: 12px;
        }

        h2 {
          color: #555;
          font-size: 18px;
          font-weight: 400;
          text-align: end;
        }
      }

      .features {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 16px;
            height: 16px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .detailsButton {
    margin: 10px 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
