* {
  .link {
    text-decoration: none;
    color: inherit;
  }
}


#react-select-3-option{
  background-color: blue !important;
}
.css-10wo9uf-option {

  background-color: #198754 !important;
}
.css-d7l1ni-option {
  background-color: blue !important;
}
.css-1p3m7a8-multiValue{
  background-color: hsl(0deg 100% 58.34%) !important;
}